tr#row-users.active {
    background: #f5f5f5!important;
}

tr#row-users-disable.active {
    color: rgba(0, 0, 0, 0.3)!important;
}

td#cell-users {
    border-bottom: none!important;
    border-style: solid;
    border-color: #a5683f73!important;
}

.no-actif {
    background-color: rgb(189, 189, 189);
}

