#th-mois {
    background-color: #0d6bf5;
    color: white;
}

#td-mois {
    background-color: white;
    padding-top: 7px;
    padding-bottom: 7px; 
}

#th-nb-cout {
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: #0d6bf5;
    color: white;
}

#tr-header {
    opacity: 0;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
}
