
#go-admin:hover {
    background-color: rgb(187, 0, 0);
    color: white;
}


#a-home:hover {
    background-color: #727272;
    cursor: pointer;
}

#back-home:hover {
    background-color: rgb(0, 81, 255);
    color: white;
}